<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Playground - Hindley Milner Type System</title>
  <style>
    body {
    font-family: sans-serif;
  }

  textarea {
    box-sizing: border-box;
    width: 100%;
  }

  form {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 3em;
    display: grid;
  }
</style>
</head>
<body>
  <a href="/unifier">Unifier</a>
  <a href="/branch-enumerator">Branch Enumerator</a>
  <%= content %>
</body>
</html>
